/* You can add global styles to this file, and also import other style files */
/* h1{
    color: rgb(192, 237, 96);
} */

/* .row{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(36,2,74,1) 48%, rgba(47,5,73,1) 100%);
} */