/*seccion foto de perfil, nombre y acerca de*/
.row{
    padding: 10px;
}
div{
background-color: black;
text-align: center;
color: aliceblue;
}

/*estilo de la foto de perfil (aplicando media query*/
@media (min-width: 576px){
    #fotodeperfil{
        position:absolute;
        width: 16%;
        /*
        border-radius: 100%;
        */
        box-shadow: 0px 0px 15px navajowhite;
        left: 0.8%;
        top: 610px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position:absolute;
        width: 19%;
        /*
        border-radius: 100%;
        */
        box-shadow: 0px 0px 15px navajowhite;
        left: 40%;
        top: 770px;
    }
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 10%;
}