<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto2.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Alavila César Daniel</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, exercitationem velit? Fuga eligendi, harum incidunt pariatur totam ipsum voluptatem consequatur vel tempora autem et eos possimus illum culpa molestiae ab?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, dicta maxime. Impedit enim, repellendus fuga adipisci, suscipit magnam hic ratione consectetur eius iusto rerum sit minus temporibus consequatur pariatur in.
            </p>
        </span>
    </div>
</div>