<div class="row" id="Experiencia">
    <h1><i>Experiencia Laboral</i></h1>
    <div class="col-lg-10">
        <button type="button" class="btn btn-outline-light" routerLink="/nuevaexp" *ngIf="isLogged">
            <i class="bi bi-plus-circle">   Agregar Experiencia</i>
        </button>
    </div>
    
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h2>{{Experiencia.nombreE}}</h2>
                        <p>{{Experiencia.descripcionE}}</p>
                    </td>
                    <!-- <td>{{Experiencia.descripcionE}}</td> -->
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-info" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill">EDITAR</i>
                        </button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash3-fill">BORRAR</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>  
</div>

<!--deje comentado
<div *ngFor="let elemento of experiencias">
            <ul>
                <li>
                    <h1>{{elemento.trabajo}}</h1> - 
                    <h3>({{elemento.anioInicio}}-{{elemento.anioFin}})</h3>
                        
                </li>
                
                <h3>{{elemento.empresa}}</h3>
                
                <p>{{elemento.descripcion}}</p>
            </ul>
        </div>
======================================


    
        <ul>
            <li>
                <h1>Trabajo 1</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptas cum quaerat ipsum veniam, sit exercitationem similique culpa suscipit consequuntur modi ea quod delectus temporibus amet ex? Commodi, quidem consequatur.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptas cum quaerat ipsum veniam, sit exercitationem similique culpa suscipit consequuntur modi ea quod delectus temporibus amet ex? Commodi, quidem consequatur.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptas cum quaerat ipsum veniam, sit exercitationem similique culpa suscipit consequuntur modi ea quod delectus temporibus amet ex? Commodi, quidem consequatur.</p>
        </ul>
    </div>


-->