/*seccion foto de perfil, nombre y acerca de*/
.row{
    padding: 20px;
    background: rgb(1,0,15);
    background: linear-gradient(90deg, rgba(1,0,15,1) 0%, rgba(22,1,46,1) 48%, rgba(31,4,48,1) 100%);
}
div{
/* background-color: #080819; */
text-align: center;
color: aliceblue;
}
/*background alternativo #080819;*/

/*estilo de la foto de perfil (aplicando media query*/
@media (min-width: 576px){
    #fotodeperfil{
        position:absolute;
        width: 16%;
        /*
        opcional,puedo dejar la foto en un marco cuadrado quitando el border-radius
        border-radius: 100%;
        top: 610px;
        box-shadow: 0px 0px 15px navajowhite;
        */
        border-radius: 100%;
        box-shadow: 0px 0px 15px black;
        left: 0.8%;
        top: 610px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position:absolute;
        width: 19%;
        /*
        opcional, puedo dejar la foto en un marco cuadrado quitando el border-radius
        border-radius: 100%;
        box-shadow: 0px 0px 15px navajowhite;
        */
        
        border-radius: 100%;
        box-shadow: 0px 0px 15px black;
        left: 40%;
        top: 610px;
    }
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 10%;
}