<section *ngIf="persona">

    <div class="row" id="Acerca">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src={{persona.img}} class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre"><i>{{persona.nombre}} {{persona.apellido}}</i> </p>
            <p>Full Stack Developer JR</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1><i>Acerca de mí </i></h1>
                <p>{{persona.descripcion}}</p>
            </span>
        </div>
    </div>

    <div class="col-lg-12">
        <button type="button" class="btn btn-outline-light btn-lg btn-block" routerLink="/editacercaDe/1" *ngIf="isLogged">
            <i class="bi bi-pencil-fill">Editar persona</i>
        </button>
    </div>
</section>