<div class="row" id="Acerca">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto2.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}}  César Alavila</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>¡Hola! Soy un apasionado por la tecnología, busco estar en constante formación practicando lo que aprendo. Amo los animales, me gustan los retos, el ajedrez y los videojuegos, soy empático, dedicado, responsable y curioso. Me encantaría formar parte de un equipo con proyectos que me permitan desarrollarme como profesional y mejorar mis habilidades.</p>
            <p>¡NO TENGO MIEDO DE ENFRENTAR NUEVOS DESAFIOS!</p>
        </span>
    </div>
</div>