body {
    padding: 0px 0px 0;
}
.header {
    width: 100%;
    top: 0;
    left: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
#logoAP{
    width: 120px;
}

/*
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}




.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.redes{
    margin-right: 0.5em;
}
#logoAP{
    width: 120px;
}
img{
    width: 50px;
    margin: 0.2em;
}
.btn{
    color: aliceblue;
    border-width: medium;
}


*/



 /*
 -------------Para la vista de celular
 
 
 @media (max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
    .redes img{
        margin: 0.2em;
    }
    .boton{
    padding: 20px;
    }
}

 
 
 -------------
 */


