.row{
    padding: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(36,2,74,1) 48%, rgba(47,5,73,1) 100%);
}

h1{
    color: rgb(192, 237, 96)
    /* color: rgb(212, 57, 88); */
}

div{
    color: aliceblue;
    
    /* background: #232961; */
}
table{
    color: aliceblue;
}

/*
h1, h3{
    display: inline;
}
color: rgb(192, 237, 96)


#0e132c;
#434662
#0e132c
#e1def9
#420089

#0E0817
text-align: center;
*/