<div class="row" id="Experiencia">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptas cum quaerat ipsum veniam, sit exercitationem similique culpa suscipit consequuntur modi ea quod delectus temporibus amet ex? Commodi, quidem consequatur.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptas cum quaerat ipsum veniam, sit exercitationem similique culpa suscipit consequuntur modi ea quod delectus temporibus amet ex? Commodi, quidem consequatur.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptas cum quaerat ipsum veniam, sit exercitationem similique culpa suscipit consequuntur modi ea quod delectus temporibus amet ex? Commodi, quidem consequatur.</p>
        </ul>
    </div>
</div>
