<div class="row" id="Experiencia">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">


        <div *ngFor="let elemento of experiencias">
            <ul>
                <li>
                    <h1>{{elemento.trabajo}}</h1> - 
                    <h3>({{elemento.anioInicio}}-{{elemento.anioFin}})</h3>
                        
                </li>
                
                <h3>{{elemento.empresa}}</h3>
                
                <p>{{elemento.descripcion}}</p>
            </ul>
        </div>


<!--

    
        <ul>
            <li>
                <h1>Trabajo 1</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptas cum quaerat ipsum veniam, sit exercitationem similique culpa suscipit consequuntur modi ea quod delectus temporibus amet ex? Commodi, quidem consequatur.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptas cum quaerat ipsum veniam, sit exercitationem similique culpa suscipit consequuntur modi ea quod delectus temporibus amet ex? Commodi, quidem consequatur.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptas cum quaerat ipsum veniam, sit exercitationem similique culpa suscipit consequuntur modi ea quod delectus temporibus amet ex? Commodi, quidem consequatur.</p>
        </ul>
    </div>
</div>

-->