<div class="row" id="Educacion">
    <h1>Educacion</h1>
    <div class="col-lg-11">

    
        <div *ngFor="let elemento of estudios">
            <ul>
                <li>
                    <h1>{{elemento.titulo}}</h1> - 
                    <h3 *ngIf="elemento.finalizado; then thenBlock else elseBlock"></h3>
                        <ng-template #thenBlock>(Finalizado)</ng-template>
                        <ng-template #elseBlock>(En curso)</ng-template>
                </li>
                
                <h3>{{elemento.institucion}}</h3>
                
                <p>{{elemento.descripcion}}</p>
            </ul>
        </div>
        