<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
      <!-- Seccion redes sociales -->
      <section class="mb-4">
        

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" target="_blank" role="button">
          <i class="bi bi-instagram"></i>
        </a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://ar.linkedin.com/" target="_blank" role="button">
          <i class="bi bi-linkedin"></i>
        </a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/napzalav" target="_blank" role="button">
          <i class="bi bi-github"></i>
        </a>
      </section>
      <!-- Fin seccion Redes sociales -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p>Hecho con ❤️ por Cesar Alavila | © Argentina Programa 2022</p>
    </div>
    <!-- Copyright -->
  </footer>

<!-- Facebook -->
<!-- <a class="btn btn-outline-light btn-floating m-1" href="https://es-la.facebook.com/" target="_blank" role="button">
  <i class="bi bi-facebook"></i>
</a> -->

  <!--


        <!-- Google --
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="bi bi-google"></i>
        </a>

        <!-- Twitter --
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="bi bi-twitter"></i>
        </a>
  
        

  -->