.gradient-custom {
    /* fallback for old browsers */
    background: rgb(5, 18, 39);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(5, 18, 39), rgb(64, 206, 249));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(5, 18, 39), rgb(64, 206, 249))
    }