<div class="row" id="Skills">
    <h1><i>Hard & Soft Skills</i></h1>

    <div class="col-lg-12" >
        <button type="button" class="btn btn-outline-light" routerLink="/newhabilidad" *ngIf="isLogged">
            <i class="bi bi-plus-circle">   Agregar Habilidad</i>
        </button>
    </div>
    
    <div class="text-center col-sm-6 col-md-4 col-lg-3 circulo" *ngFor="let habilidad of habilidad">
        <circle-progress
           [percent]="(habilidad.porcentajeH)"
           [radius]="100"
           [title]="(habilidad.nombreH)"
           [titleColor]="'aliceblue'"
           [showUnits]="false"
           [showSubtitle]="false"
           [outerStrokeWidth]="10"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#AAD4C5'"
           [innerStrokeColor]="'#77FACC'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>

        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-outline-info" routerLink="/edithabilidad/{{habilidad.id}}">
                    <i class="bi bi-pencil-fill"></i>
                </button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-outline-danger" (click)="delete(habilidad.id)">
                    <i class="bi bi-trash3-fill"></i>
                </button>
            </td>
        </div>

        
    </div>
</div>


<!-- configuracion funcional antes de realizar hys component en el back
<div class="row" id="Skills">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
           [percent]="70"
           [radius]="100"
           [imageSrc]="'../../assets/html.svg.png'"
           [showImage]="true"
           [imageHeight]="100"
           [imageWidth]="100"
           [showUnits]="false"
           [showSubtitle]="false"
           [outerStrokeWidth]="10"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#FB7600'"
           [innerStrokeColor]="'#FBB06E'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div> 
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
           [percent]="40"
           [radius]="100"
           [imageSrc]="'../../assets/css.svg.png'"
           [showImage]="true"
           [imageHeight]="110"
           [imageWidth]="90"
           [showUnits]="false"
           [showSubtitle]="false"
           [outerStrokeWidth]="10"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#0338FC'"
           [innerStrokeColor]="'#839CFA'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
           [percent]="10"
           [radius]="100"
           [imageSrc]="'../../assets/js.svg.png'"
           [showImage]="true"
           [imageHeight]="110"
           [imageWidth]="90"
           [showUnits]="false"
           [showSubtitle]="false"
           [outerStrokeWidth]="10"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#EFFE03'"
           [innerStrokeColor]="'#F7FE8B'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
           [percent]="100"
           [radius]="100"
           [title]="'ACTITUD POSITIVA'"
           [subtitle]="'Entusiasta y Optimista'"
           [titleColor]="'aliceblue'"
           [subtitleColor]="'aliceblue'"
           [showUnits]="false"
           [showSubtitle]="true"
           [outerStrokeWidth]="10"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#AAD4C5'"
           [innerStrokeColor]="'#77FACC'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
           [percent]="100"
           [radius]="100"
           [title]="'TEAM WORK'"
           [subtitle]="'Colaborador y Compañero'"
           [titleColor]="'aliceblue'"
           [subtitleColor]="'aliceblue'"
           [showUnits]="false"
           [showSubtitle]="true"
           [outerStrokeWidth]="10"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#AAD4C5'"
           [innerStrokeColor]="'#77FACC'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
           [percent]="15"
           [radius]="100"
           [title]="'INGLES'"
           [subtitle]="'Building...'"
           [titleColor]="'aliceblue'"
           [subtitleColor]="'aliceblue'"
           [showUnits]="false"
           [showSubtitle]="true"
           [outerStrokeWidth]="10"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#AAD4C5'"
           [innerStrokeColor]="'#77FACC'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div>
</div>

 -->

<!-- para hacer unas barras animadas

<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Default striped example" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-label="Success striped example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" aria-label="Info striped example" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Warning striped example" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" aria-label="Danger striped example" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
  </div>

-->