
/* para hacer un color degradado
    background: linear-gradient(#03140a, #3b7955);
    #02200f
    */

h1{
    color: rgb(192, 237, 96);
}

.row{
    padding: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(36,2,74,1) 48%, rgba(47,5,73,1) 100%);
    /* background-color: #540045; */
    /* background-color: #3b0c2c; */
    /* background-color: rgb(20, 59, 85); */
    /* background-color: #001d00; */
    color: aliceblue;
    /* color: #d2ff1f; */
}

.card{
    margin: 20px;
    border-radius: 10px;    
    border-color: aliceblue;
    /* border-color: rgb(63, 63, 63); */
    padding: 10px;
    background-color: rgb(11, 15, 27);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

/* .contenedor{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 5px 5px 30px #000;
    box-shadow: ejeX ejeY difumacion color;
} */