.row{
    padding: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(36,2,74,1) 48%, rgba(47,5,73,1) 100%);
}

h1{
    color: rgb(192, 237, 96);
    
}

.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
background-color: rgb(0, 38, 49);



    background-color: #0E0817;
    #420089

/* text-align: center; 
*/