.row{
    background-color: rgb(0, 38, 49);
    padding: 20px;
}
h1{
    color: aliceblue;
    text-align: center;
}

/*
background-color: rgb(0, 38, 49);

#420089

    background-color: #0E0817;


*/