<div class="row" id="Skills">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
           [percent]="70"
           [radius]="100"
           [imageSrc]="'../../assets/html.svg.png'"
           [showImage]="true"
           [imageHeight]="100"
           [imageWidth]="100"
           [showUnits]="false"
           [showSubtitle]="false"
           [outerStrokeWidth]="10"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#FB7600'"
           [innerStrokeColor]="'#FBB06E'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div> 
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
           [percent]="40"
           [radius]="100"
           [imageSrc]="'../../assets/css.svg.png'"
           [showImage]="true"
           [imageHeight]="110"
           [imageWidth]="90"
           [showUnits]="false"
           [showSubtitle]="false"
           [outerStrokeWidth]="10"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#0338FC'"
           [innerStrokeColor]="'#839CFA'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
           [percent]="10"
           [radius]="100"
           [imageSrc]="'../../assets/js.svg.png'"
           [showImage]="true"
           [imageHeight]="110"
           [imageWidth]="90"
           [showUnits]="false"
           [showSubtitle]="false"
           [outerStrokeWidth]="10"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#EFFE03'"
           [innerStrokeColor]="'#F7FE8B'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
           [percent]="100"
           [radius]="100"
           [title]="'ACTITUD POSITIVA'"
           [subtitle]="'Entusiasta y Optimista'"
           [titleColor]="'aliceblue'"
           [subtitleColor]="'aliceblue'"
           [showUnits]="false"
           [showSubtitle]="true"
           [outerStrokeWidth]="10"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#AAD4C5'"
           [innerStrokeColor]="'#77FACC'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
           [percent]="100"
           [radius]="100"
           [title]="'TEAM WORK'"
           [subtitle]="'Colaborador y Compañero'"
           [titleColor]="'aliceblue'"
           [subtitleColor]="'aliceblue'"
           [showUnits]="false"
           [showSubtitle]="true"
           [outerStrokeWidth]="10"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#AAD4C5'"
           [innerStrokeColor]="'#77FACC'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
           [percent]="15"
           [radius]="100"
           [title]="'INGLES'"
           [subtitle]="'Building...'"
           [titleColor]="'aliceblue'"
           [subtitleColor]="'aliceblue'"
           [showUnits]="false"
           [showSubtitle]="true"
           [outerStrokeWidth]="10"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#AAD4C5'"
           [innerStrokeColor]="'#77FACC'"
           [animation]="true"
           [animationDuration]="600"
        ></circle-progress>
    </div>
</div>
