<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100" *ngIf="persona">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <!-- <h2 class="fw-bold mb-2 text-uppercase">Edita la Persona!</h2>
                            <p class="text-white-50 mb-5">Por favor, modifica la persona</p> -->

                            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="nombre">Nombre</label>
                                    <input type="text" id="nombre" name="nombre" class="form-control form-control-lg"
                                        [(ngModel)]="persona.nombre" required />
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="apellido">Apellido</label>
                                    <input type="text" id="apellido" name="apellido" class="form-control form-control-lg"
                                        [(ngModel)]="persona.apellido" required />
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="descripcion">Agrega una breve descripción</label>
                                    <input type="text" id="descripcion" name="descripcion"
                                        class="form-control form-control-lg" [(ngModel)]="persona.descripcion"
                                        required />
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="img">Agrega una imagen</label>
                                    <input type="file" id="img" name="img"
                                        class="form-control form-control-lg" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png" />
                                </div>

                                <div class="imagen">
                                    <img [src]="imageService.url" width="200px">
                                </div>

                                <button class="btn btn-primary mt-3">
                                    Actualizar persona
                                </button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- En el div de agregar imagen da un error en consola si se deja el [(ngModel)]="persona.img"
    por eso lo quite del input, en el ambiente local funciona y carga la imagen sin problema.
    
<div class="form-outline form-white mb-4">
    <label class="form-label" for="img">Agrega una imagen</label>
    <input type="file" id="img" name="img"
        class="form-control form-control-lg" [(ngModel)]="persona.img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png" />
</div> -->